# lock screen
#/etc/systemd/system/i3lock@duy.service
[Unit]
Description=slock
Before=hibernate.target

[Service]
User=duy
Type=forking
Environment="DISPLAY=:0"
ExecStart=/home/duy/gits/arch_config/scripts/SLOCK

[Install]
WantedBy=hibernate.target

#systemctl enable i3lock@duy.service
